body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 20px;
}

a {
  color: #80a3a2;
}

.weather-forecast {
  /* background-color: 1px solid #abcecf; */
  background: rgba(255, 0, 0, 0.3) url("images/Clouds.avif");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
  padding: 30px;
}
.search-form {
  display: flex;
}
.search-form-input {
  background-color: rgba(255, 255, 255, 0.6);
  color: #7e7e7e;
  border: none;
  border-radius: 10px;
  width: 450px;
  padding: 15px 20px;
  font-size: 16px;
}

.search-button {
  display: inline;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  width: 100px;
  margin-left: 5px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  color: #f9f7fe;
}

main {
  padding: 30px 0;
}

h1 {
  margin: 0;
  font-size: 36px;
  line-height: 38px;
  color: white;
}
p {
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}

p strong {
  color: red;
}

.weather-app-data {
  display: flex;
  justify-content: space-around;
}

.temperature-container-1 {
  display: flex;
}

.temperature-container-2 {
  margin-left: 0;
}

.weather-icon {
  width: 88px;
  height: 88px;
  margin-top: 8px;
}

.weather-value {
  font-size: 80px;
  font-weight: normal;
  margin-left: 10px;
}

.weather-unit {
  margin-top: 16px;
  font-size: 30px;
}

ul {
  margin-left: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;

  li {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.8);
    border: none;
    margin: 20px 0 2px 0;
    margin-left: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    width: 80px;
    height: 100px;
    text-align: center;
  }

  .icon {
    font-size: 30px;
  }

  footer {
    border-top: 1px solid #f9f7fe;
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
  }
}
